@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a0b14;
}

::-webkit-scrollbar-thumb {
  background: #ff00ff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}